@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #24334c;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #2e3f5c;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search {
  background-color: transparent;
  color: #fff;
  border: 2px solid #22254b;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(87, 190, 87);
}

.search:focus {
  outline: 0;
}
.movie {
  background-color: #2e3f5c;
  border-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
}

.movie img {
  max-width: 100%;
  object-fit: cover;
  height: 400px;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: #fff;
  color: black;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateX(0%);
}
